.mainContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 10% 0 0 0;
  width: 100%;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  padding: 0;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: aqua;
  font-weight: bold;
}

.waveButton:hover {
  background-color: coral;
} 